@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  .rjsm__modal {
    position: relative;
  }
  .rjsm__modal__close {
    position: absolute;
    top: 0;
    right: 2%;
  }
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  margin: 3rem 0;
}

td {
  text-align: center;
  min-width: 8rem;
}

.rjsm__modal {
  .rjsm__modal__close {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
  }
}

.rjsm__modal__content {
  h1 {
    margin: 2rem 0;
  }
}
